

*{
    margin: 0%;
    padding: 0%;
}
.first-info{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.first-infobox{
    width: 60%; 
}
.first-header{

    width: 80%;
    margin: auto;
    padding-top: 22px;
}
.first-header img{
  width:120px;
  margin-top: 0px;
}
.icon-text{
    display: flex;
    width: max-content;
    justify-content: flex-start;
    font-family: "Roboto", sans-serif;
}
.icon{
    margin-right: 10px;
    width: 22px;
    height: 21px;
    
}
.first-text{
    padding-right: 50px;
    font-size: 20px;
}
.first-container{
    width: 100%;

}
.first-bigtext{
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    font-size: 70px;
    margin-top: 30px;
    width: max-content;
}
.first-smalltext{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin-top: 20px;
}

.first-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    margin: auto;
    width: 80%;
}
.first-main-photo img{
    margin-top: 80px;
}
.first-footer{
    width: 40%;
    margin:  60px auto;
    background-color: #1E4681;
    color: white;
    padding: 20px;
    font-size: 25px;
    border-radius: 5px;
    font-family: "Roboto Slab", serif;
}
.first-author{
    display: flex;
    justify-content: flex-end;
}


.contain{
  width: 80%;
  margin: auto;
  padding: 91px 124px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  gap: 132px;
}
.contain .image-photo{
  width:20%;
display: block;
}
.image-photo img{
  width: 100%;
}
.contain .item{
  width:30%;
}
.contain .items{
  width: 60%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin:0 auto;
}
.item h5{
  font-size: 25px;
  font-weight: 700;
  color: black;
}
.item p{
  font-size: 18px;
  font-weight: 400;
  color: black;
}




@media (min-width:601px) and (max-width: 991px){
  .first-header img{
    width:64px;
  }
      .icon-text{
        width: 100%;
      }
      .first-bigtext{
        font-size: 40px;

      }
      .first-smalltext{
        font-size: 12px;
      }
      .first-text{
        font-size: 12px;
        padding-right: 10px;
      }
      .icon{
        width: 11px;
        height: 10px;
      }
      .first-main-photo img{
        margin-top: 40px;
    }
      .first-main-photo img{
        width: 176px;
        height: 206px;
      }
      .first-main-photo{
        width: 176px;
        height: 206px;
      }
      .first-container{
        width: 100%;
      }
      .first-author{
        font-size: 12px;
      }
      .first-footer{
        font-size: 14px;
        margin: 50px auto;
        margin-left: 210px;
      }
      
        .six-header {
          font-size: 32px;
          line-height: 32.44px;
        }
        .six-info-box {
          width: 60% !important;
          margin-top: 20px;
        }
        .six-header-div h2{
          font-size: 26px !important;
          line-height: 26.36px;
        }
        .six-container {
          padding: 52px 0 52px  70px !important;
        }
        .six-info-paragraph-div {
          padding: 20px !important;
        }
        .six-info-paragraph {
          line-height: 18px !important;
          font-size: 12px !important;
        }
        .six-author-name {
          font-size: 17px !important;
          line-height: 17.24px !important;
          margin-bottom: 10px !important;
        }
        .six-author-image-div {
          width: 60%;
        }
        .six-last-div {
          padding-left: 10px !important;
          margin:auto;
          width: 95%;
        }
        .six-author {
          width: 100%;
        }
          .footer-container {
            padding-left: 70px !important;
            padding-top: 29px !important;
          }
          .footer-text-icon {
            width: 66px !important;
            height: 40px !important;
          }
          .footer-social-icons-div {
            width: 19px !important;
            height: 19px !important;
          }
          .footer-telephone-icon-div {
            width: 15.64px !important;
            height: 15.64px !important;
          }
          .footer-email-icon-div {
            width: 15.64px !important;
            height: 10.43px !important;
          }
          .footer-telephone-number {
            font-family: Roboto;
            font-size: 14px !important;
            font-weight: 400 !important;
            line-height: 14.19px !important;
            text-align: left;
          }
          .footer-email {
            font-family: Roboto;
            font-size: 14px !important;
            font-weight: 400 !important;
            line-height: 14.19px !important;
            text-align: left;
          }
          .footer-social {
            padding-top: 0 !important;
          }
          .footer-text-icon-div {
            padding-bottom: 0 !important;
          }
          .footer-telephone-number-div {
            width: 80% !important;
          }
          .footer-telephone-div-part {
            margin-bottom: 0 !important;
            gap: 15px !important;
          }
          .footer-email-div-part {
            gap: 15px !important;
          }
        
          .footer-email-div {
            width: 80% !important;
          }
          .footer-telephone-icon-div {
            padding-left: 20px !important;
          }
          .footer-email-icon-div {
            padding-bottom: 7px !important;
            padding-left: 20px !important;
          }
          .footer-copyright-text {
            font-family: Roboto;
            font-size: 10px !important;
            font-weight: 400 !important;
            line-height: 10.14px !important;
            text-align: left;
          }
          .footer-icon-part {
            width: 30% !important;
          }
        

            .container .description{
                padding: 56px 54px;
            }
           
            .desc-text h1{
                font-size: 32px;
            }
            .desc-text p{
                font-size: 14px;
            }
          
            .contain{
              width:80%;
              margin:auto;
                padding: 45px 54px;
                display: flex;
                justify-content: start;
            }
            .contain .items{
                width: 80%;
                margin:0;
            }
            .contain .item{
                width:90px;
            }
            .item h5{
                font-size: 12px;
            }
            .item p{
                font-size: 10px;
            }
            
          
      
    #kurs .conatiner{
        padding: 48px !important;
    }
    #kurs .conatiner h3{
        font-size: 32px !important;
    }
    #kurs .conatiner .kurs-items .kurs-item{
      width:30% !important;
        margin-bottom: 25px;
    }
    #kurs .conatiner .kurs-items .kurs-item .icon-image{
        height:50% ;
    }
    #kurs .conatiner .kurs-items .kurs-item .icon-image img{
        object-fit: cover;
    }   
    #kurs .conatiner .kurs-items .kurs-item .item-text p{
        font-size: 17px !important;
        margin-bottom: 18px;
    }
    #kurs .conatiner .kurs-items .kurs-item .item-text span{
        font-size: 14px !important;
    }
    .five-section {
      padding-left: 80px !important;
    }
    .four-ul-div {
      margin-top: 51px;
    }

    .five-section ul {
      font-size: 14px !important;
    }
    .five-header {
      font-size: 32px !important;
      margin: 0 !important;
      margin: auto;
      padding: 0 !important;
    }
    .four-ul {
      padding: 0;
    }
    .four-header {
      font-size: 32px;
      padding-left: 71px;
    }
    .four-section span {
      font-size: 15px;
    }
    .four-section p {
      font-size: 11px;
    }
    .three-header {
      font-size: 32px;
      padding-left: 71px;
    }
    .three-picture-div img{
      width:80% !important;
      object-fit: contain;
      height:100% !important;
      /* width:180px; */
      /* height:182px; */
        }
    .three-text-div p{
      font-size: 14px !important;
      line-height: 21px;
      /* padding-left: 71px; */
    }
    .img-cameraman{
      width: 100%;
    }
    .three-text-div {
      width: 40%;
    }
    .three-picture-div {
      padding-left: 2%;
      width: 30%;
      display: flex;
      align-items: center;
    }

    
    #seventh .seventh-container {
      padding: 103px 70px !important;
          
  }

  #seventh .seventh-container h3 {

  font-size: 32px !important;
  margin-bottom: 20px;
  }

  #seventh .seventh-container span {

  font-size: 14px !important;

  }

  #seventh .seventh-container p {
  font-size: 46px !important;

  }

  #seventh .seventh-container .seventh-text {
  display: flex; 
  gap: 40px;
margin-top: 20px;
  }
  #seventh .seventh-container .seventh-text .seventh-text-item{
    width: 28% !important;
  }

  #seventh .seventh-container .seventh-text .seventh-text-item p {

  font-size: 14px !important;
  }

  #seventh .seventh-container .seventh-text .seventh-text-item span {
  font-size: 10px !important;
  }
  #seventh .seventh-container .seventh-text .seventh-text-item {

  width: 30%;

  }

}

@media (min-width:300px) and (max-width: 600px){
  .first-header img{
    width:52px;
  }
  .first-infobox{
    width: 100%; 
}
  .icon-text{
    width: max-content;
  }
  .first-bigtext{
    font-size: 36px;
    width: max-content;

  }
  .first-smalltext{
    font-size: 10px;
    width: max-content;
  }
  .first-text{
    font-size: 10px;
    padding-right: 20px;
  }
  .icon{
    width: 10px;
    height: 9px;
  }
  .first-main-photo{
    width:100% !important;
    display: flex;
    justify-content: flex-end;
  }

  .first-main-photo img{
    width: 140px;
    height: 170px;
    margin-top: 0px;
  }
  .first-main-photo{
    width: 140px;
    height: 170px;
  }
  .first-container{
    width: 100%;
  }
  .first-author{
    font-size: 8px;
  }
  .first-footer{
    font-size: 10px;
    margin: 180px auto;
    margin-left: 50px;
  }
    .six-header {
      font-size: 26px;
      line-height: 26.36px;
    }
    .six-header-div {
      margin: auto;
      width: 80%;
    }
    .six-header-div h2{
      font-size: 26px !important;
      line-height: 26.36px;
    }
    .six-container {
      padding-top: 42px !important;
      padding-left: 0 !important;
    }
    .six-info-box {
      width: 80% !important;
      margin: auto;
      margin:20px 0 0 58px !important;
    }
    .six-info-paragraph {
      font-size: 10px !important;
      line-height: 15px !important;
    }
    .six-author-name {
      font-size: 14px !important;
      margin-bottom: 10px !important;
      line-height: 14.2px !important;
    }
    .six-info-paragraph-div {
      width: 80% !important;
    }
    .six-facebook-image {
      width: 10%;
    }
    .six-author-image-div {
      width: 70%;
    }
  
      .footer-container {
        padding-left: 56.85px !important;
        padding-top: 22.3px !important;
      }
      .footer-text-icon {
        width: 53.6px !important;
        height: 31.7px !important;
      }
      .footer-social-icons-div {
        width: 15.38px !important;
        height: 15.38px !important;
      }
      .footer-telephone-number {
        font-size: 12px !important;
        line-height: 12.17px !important;
      }
      .footer-email {
        font-size: 12px !important;
        line-height: 12px !important;
      }
      .footer-telephone-icon-div {
        width: 13px !important;
        height: 13px !important;
      }
      .footer-email-icon-div {
        width: 13px !important;
        height: 9px !important;
      }
      .footer-social {
        display: block;
      }
      .footer-contact {
        padding-top: 50px !important;
        width: 100% !important;
      }
      .footer-telephone-icon-div {
        padding-left: 0 !important;
        padding-bottom: 5px !important;
      }
      .footer-email-icon-div {
        padding-bottom: 12px !important;
        padding-left: 0 !important;
      }
      .footer-telephone-div-part {
        margin-bottom: -5px !important;
      }
      .footer-text-icon-div {
        padding-bottom: 0 !important;
        height: 38px !important;
      }
      .footer-icon-part {
        width: 70% !important;
        margin-bottom: 0 !important;
      }
      .footer-email-div {
        padding-right: 10px !important;
      }
      .footer-telephone-number-div {
        padding-right: 10px !important;
      }
      .footer-copyright-text {
        font-size: 10px !important;
        line-height: 10.14px !important;
      }
      .footer-copyright {
        padding-top: 60px !important;
      }

        #kurs .conatiner{
            padding: 34px;
        }
        #kurs .conatiner h3{
            font-size: 26px !important;
        }
        #kurs .conatiner .kurs-items .kurs-item{
            width: 80% !important;
            margin:auto;
            margin-bottom: 24px;
        }
        #kurs .conatiner .kurs-items .kurs-item .icon-image{
            height: 50%;
        }
        #kurs .conatiner .kurs-items .kurs-item .icon-image img{
            object-fit: cover;
        }   
        #kurs .conatiner .kurs-items .kurs-item .item-text p{
            font-size: 14px !important;
            margin-bottom: 14px;
        }
        #kurs .conatiner .kurs-items .kurs-item .item-text span{
            font-size: 12px !important;
        }
        #kurs .conatiner .kurs-items .kurs-item .item-text .last-p{
          margin-bottom: 32px !important;
      }
        #seventh .seventh-container {
          padding: 62px 37px !important;
              
  }
  
  #seventh .seventh-container h3 {
      font-size: 26px !important;
      margin-bottom: 20px;
  }
  
  #seventh .seventh-container span {
      
      font-size: 12px !important;
     
  }
  #seventh .seventh-container p {
      font-size: 37px !important;
  
  }
  
  #seventh .seventh-container .seventh-text {
      display: flex; 
      gap: 31px;
  margin-top: 20px;
  }
  #seventh .seventh-container .seventh-text .seventh-text-item{
      width: 35% !important;
  }
  #seventh .seventh-container .seventh-text .seventh-text-item p {
  
      font-size: 12px !important;
      
  
  }
  #seventh .seventh-container .seventh-text .seventh-text-item span {
      font-size: 10px !important;
  }
  #seventh .seventh-container .seventh-text .seventh-text-item {
  
      width: 40%;
  
  }
    .five-section {
      width:80% !important;
      margin:auto;
      padding-left: 0 !important;
      /* padding-left: 44px; */
    }
    .four-ul-div {
      margin-top: 16px;
    }
    .four-ul {
   gap: 20px;
    }
    .four-ul li {
      width: 80% !important;
      list-style: none;
    }
    .four-ul {
      padding: 0;
      margin: 0;
      margin: auto;
    }
    .five-header {
      font-size: 26px !important;
      margin: 0;
      margin: auto;
      padding: 0;
    }
  
    .five-section ul {
      font-size: 12px !important;
    }
    .four-header {
      font-size: 26px !important;
      padding-left: 36px;
    }
    .four-section span {
      font-size: 12px;
      padding-left: 35px;
    }
    .four-section p {
      font-size: 10px;
      padding-left: 35px;
    }
    .three-container {
      width:90% !important;
      margin:auto;
      margin-top:70px
    }
    .three-header {
      font-size: 26px !important;
      padding-left: 36px;
    }
    .three-text-div {
      width: 90% !important;
      font-size: 12px !important;
      padding-left: 36px !important;
      line-height: 18px !important;
    }
    .three-picture-text-div {
      flex-direction: column;
    }
    .img-cameraman{
      width: 100%;
    }
    .three-picture-div{
      width: 60%;
      margin: auto;
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
      .container .description{
          padding: 56px 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }
      .desc-text{
          width: 90%;
          margin:0 auto;
      }
      .desc-text h1{
          font-size: 26px !important;
      }
      .desc-text p{
          font-size: 12px !important;
      }
      .container .image{
          width: 40% !important;
          margin:0 auto;
      }
      .contain{
          padding: 45px 0px !important;
      }
      .contain .items{
          width: 80% !important;
          margin:0 auto;
          gap: 20px;
      }
      .contain .item{
          width:90px !important;
      }
      .contain .image-photo{
       display: none;
      }
      .item h5{
          font-size: 12px !important;
      }
      .item p{
          font-size: 10px !important;
      }
      
    
  
    
}


.six-container {
  background-color: #efefef;
  /* width: 100%; */
  padding: 91px 122px 110px;
}

.six-header-div {
  width: 70% !important;
}
.six-info-box {
  width: 52% ;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.six-info-paragraph-div {
  width: 85%;
  padding: 40px;
}
.six-info-paragraph {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

.six-header {
  font-family: Roboto Slab;
  font-size: 55px;
  font-weight: 700;
  line-height: 55.76px;
  text-align: left;
}
.six-facebook-image {
  width: 7%;
}
.six-author-name {
  font-family: Roboto Slab;
  font-size: 30px;
  font-weight: 700;
  line-height: 30.42px;
  margin-bottom: 20px;
  text-align: left;
}
.six-last-div {
  display: flex;
  gap: 10px;
  padding-left: 30px;
  padding-bottom: 50px;
  width: 90%;
  align-items: center;
}
.six-author-image {
  width: 100%;
  max-width: 400px;
}
.six-author-image-div {
  width: 30%;
}

.six-author {
  width: 65%;
}


.footer-container {
  background-color: black;
  /* width: 100%; */
  padding-left: 122px;
}
img {
  width: 100%;
  height: 100%;
}

.footer-social {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
}

.footer-icon-part {
  width: 20%;
}
.footer-social-icon-part {
  display: flex;
  width: 100%;
  gap: 20px;
}
.footer-social-icons-div {
  width: 33px;
  height: 33px;
}
.footer-text-icon-div {
  padding-bottom: 20px;
  width: 115px;
  height: 68px;
}
.footer-text-icon {
  width: 115px;
  height: 68px;
}

/* Contact part  */

.footer-email-icon-div {
  width: 27px;
  height: 18px;
  padding-left: 15px;
}
.footer-telephone-icon-div {
  width: 27px;
  height: 27px;
  padding-left: 15px;
}

.footer-contact {
  width: 35%;
}
.footer-telephone-number {
  color: white;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 400;
  line-height: 25.35px;
  text-align: left;
}
.footer-email {
  color: white;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 400;
  line-height: 25.35px;
  text-align: left;
}
.footer-telephone-div-part {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}
.footer-email-div-part {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 30px;
}
.footer-telephone-number-div {
  width: 85%;
}

.footer-email-div {
  width: 85%;
}

.footer-copyright {
  padding: 150px 0 40px 0;
}
.footer-copyright-text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 18.25px;
  text-align: left;
  color: white;
}



#kurs{
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}
#kurs .conatiner{
    padding: 84px ;
}
#kurs .conatiner h3{
    font-weight: 700;   
    font-size: 55px;
    font-family: "Roboto Slab", serif;
}
#kurs .conatiner .kurs-items{
    margin-top: 95px;
    display: flex;
    flex-wrap: wrap;  
    gap: 3%;
}

#kurs .conatiner .kurs-items .kurs-item{
    width: 31%;
    border-radius: 30px;    
    margin-bottom: 40px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
#kurs .conatiner .kurs-items .kurs-item .icon-image{
    width: 100%;
    height:200px;
}
#kurs .conatiner .kurs-items .kurs-item .icon-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 30px;    
    border-top-right-radius: 30px;   
}   
#kurs .conatiner .kurs-items .kurs-item .item-text{
    padding: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    font-family: "Roboto", serif;
}
#kurs .conatiner .kurs-items .kurs-item .item-text p{
    font-weight: 700;
    margin:0;
    padding: 0;
    font-size: 30px;
    margin-bottom: 32px;
}

#kurs .conatiner .kurs-items .kurs-item .item-text span{
    display: inline-block;
    width: 80%;
    font-weight: 400;
    font-size: 25px;
}
.last-p{
    margin-bottom: 0 !important;
}





.three-container {

    width:80%;
    margin:auto;
    margin-top:170px
  }
  .three-header {
    font-family: Roboto Slab;
    font-size: 55px;
    font-weight: 700;
    line-height: 55.76px;
    text-align: left;
    margin-bottom:20px;
  }
  .three-picture-text-div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .three-text {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
  }
  .three-text-div {
    width: 50%;
  }
  .three-picture-div {
    padding-left: 2%;
    width: 40%;
    display: flex;
    align-items: center;
  }
  .three-picture-div img{
    width:315px;
    height:314px;
      }
  .four-section {
    padding-bottom: 100px;
  }
  .four-header {
    padding-left: 121px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 100%;
    color: #000000;
  }
  
  .four-section span {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    color: #1e4681;
  }
  .four-ul-div {
    margin-top: 89px;
    width: 93%;
    margin: 89px auto;
  }
  .four-section p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #000000;
  }
  
  .four-ul {
    display: flex;
    flex-wrap: wrap;
    /* margin-left: 69px; */
    width: 80%;
    margin: auto;
    justify-content: space-between;
  }
  .four-ul li {
    width: 30%;
    list-style: none;
  }
  
  .five-header {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
  
    color: #000000;
  }
  .five-section {
    padding-left: 138px;
  }
  .five-section ul {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
    padding: 20px;
  }
 


#seventh .seventh-container{
    padding: 179px 122px;
    background-color: #9DC9C8;    

}
#seventh .seventh-container h3 {
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-size: 55px;
    margin-bottom: 20px;
    color: #000000;
    
}
#seventh .seventh-container span {
    font-weight: 400;
    font-size: 25px;
    
    color:#000000;
    font-family: "Roboto", sans-serif;
}

#seventh .seventh-container p {
    font-size: 80px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    margin-top: 0;

}

#seventh .seventh-container .seventh-text {
     display: flex; 
     gap: 70px;
     

}

#seventh .seventh-container .seventh-text .seventh-text-item p {

    font-size: 25px;
    font-weight: 400;
    color: #000000;
    font-family: "Roboto", sans-serif;

}
#seventh .seventh-container .seventh-text .seventh-text-item span {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    font-family: "Roboto", sans-serif;
}


#seventh .seventh-container .seventh-text .seventh-text-item {

    width: 18%;

}











