.six-container {
  background-color: #efefef;
  width: 100%;
  padding: 91px 122px 110px;
}

.six-header-div {
  width: 70%;
}
.six-info-box {
  width: 52%;

  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.six-info-paragraph-div {
  width: 85%;
  padding: 40px;
}
.six-info-paragraph {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

.six-header {
  font-family: Roboto Slab;
  font-size: 55px;
  font-weight: 700;
  line-height: 55.76px;
  text-align: left;
}
.six-facebook-image {
  width: 7%;
}
.six-author-name {
  font-family: Roboto Slab;
  font-size: 30px;
  font-weight: 700;
  line-height: 30.42px;
  text-align: left;
}
.six-last-div {
  display: flex;

  padding-left: 30px;
  padding-bottom: 50px;
  width: 90%;
  align-items: center;
}
.six-author-image {
  width: 100%;
  max-width: 400px;
}
.six-author-image-div {
  width: 30%;
}

.six-author {
  width: 65%;
}

/* Tablet screen */
@media screen and (max-width: 991px) {
  .six-header {
    font-size: 32px;
    line-height: 32.44px;
  }
  .six-info-box {
    width: 70%;
  }

  .six-container {
    padding: 52px 70px;
  }
  .six-info-paragraph-div {
    padding: 10px 25px;
  }
  .six-info-paragraph {
    line-height: 18px;
    font-size: 12px;
  }
  .six-author-name {
    font-size: 17px;
    line-height: 17.24px;
  }
  .six-author-image-div {
    width: 60%;
  }
  .six-last-div {
    padding-left: 10px;
    width: 95%;
  }
  .six-author {
    width: 100%;
  }
}

/* Telephone screen */

@media screen and (max-width: 600px) {
  .six-header {
    font-size: 26px;
    line-height: 26.36px;
  }
  .six-header-div {
    margin: auto;
    width: 80%;
  }
  .six-container {
    padding-top: 42px;
    padding-left: 0;
  }
  .six-info-box {
    width: 80%;
    margin: auto;
  }
  .six-info-paragraph {
    font-size: 10px;
    line-height: 15px;
  }
  .six-author-name {
    font-size: 14px;
    line-height: 14.2px;
  }
  .six-info-paragraph-div {
    width: 80%;
  }
  .six-facebook-image {
    width: 10%;
  }
  .six-author-image-div {
    width: 70%;
  }
}

/* Footer Part  */

.footer-container {
  background-color: black;
  width: 100%;
  padding-left: 122px;
}
img {
  width: 100%;
  height: 100%;
}
/* Social part  */
.footer-social {
  display: flex;
  width: 90%;
  justify-content: space-between;
  padding-top: 50px;
}

.footer-icon-part {
  width: 20%;
}
.footer-social-icon-part {
  display: flex;
  width: 100%;
  gap: 20px;
}
.footer-social-icons-div {
  width: 33px;
  height: 33px;
}
.footer-text-icon-div {
  padding-bottom: 20px;
  width: 115px;
  height: 68px;
}
.footer-text-icon {
  width: 115px;
  height: 68px;
}

/* Contact part  */

.footer-email-icon-div {
  width: 27px;
  height: 18px;
  padding-left: 15px;
}
.footer-telephone-icon-div {
  width: 27px;
  height: 27px;
  padding-left: 15px;
}

.footer-contact {
  width: 35%;
}
.footer-telephone-number {
  color: white;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 400;
  line-height: 25.35px;
  text-align: left;
}
.footer-email {
  color: white;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 400;
  line-height: 25.35px;
  text-align: left;
}
.footer-telephone-div-part {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}
.footer-email-div-part {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 30px;
}
.footer-telephone-number-div {
  width: 85%;
}

.footer-email-div {
  width: 85%;
}

/* Copyright part */
.footer-copyright {
  padding: 150px 0 40px 0;
}
.footer-copyright-text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 18.25px;
  text-align: left;
  color: white;
}

/* Tablet */
@media screen and (max-width: 991px) {
  .footer-container {
    padding-left: 70px;
    padding-top: 29px;
  }
  .footer-text-icon {
    width: 66px;
    height: 40px;
  }
  .footer-social-icons-div {
    width: 19px;
    height: 19px;
  }
  .footer-telephone-icon-div {
    width: 15.64px;
    height: 15.64px;
  }
  .footer-email-icon-div {
    width: 15.64px;
    height: 10.43px;
  }
  .footer-telephone-number {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 14.19px;
    text-align: left;
  }
  .footer-email {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 14.19px;
    text-align: left;
  }
  .footer-social {
    padding-top: 0;
  }
  .footer-text-icon-div {
    padding-bottom: 0;
  }
  .footer-telephone-number-div {
    width: 80%;
  }
  .footer-telephone-div-part {
    margin-bottom: 0;
    gap: 15px;
  }
  .footer-email-div-part {
    gap: 15px;
  }

  .footer-email-div {
    width: 80%;
  }
  .footer-telephone-icon-div {
    padding-left: 20px;
  }
  .footer-email-icon-div {
    padding-bottom: 7px;
    padding-left: 20px;
  }
  .footer-copyright-text {
    font-family: Roboto;
    font-size: 10px;
    font-weight: 400;
    line-height: 10.14px;
    text-align: left;
  }
  .footer-icon-part {
    width: 30%;
  }
}

/* Mobile version  */

@media screen and (max-width: 601px) {
  .footer-container {
    padding-left: 56.85px;
    padding-top: 22.3px;
  }
  .footer-text-icon {
    width: 53.6px;
    height: 31.7px;
  }
  .footer-social-icons-div {
    width: 15.38px;
    height: 15.38px;
  }
  .footer-telephone-number {
    font-size: 12px;
    line-height: 12.17px;
  }
  .footer-email {
    font-size: 12px;
    line-height: 12.17px;
  }
  .footer-telephone-icon-div {
    width: 12.58px;
    height: 12.58px;
  }
  .footer-email-icon-div {
    width: 12.58px;
    height: 8.4px;
  }
  .footer-social {
    display: block;
  }
  .footer-contact {
    padding-top: 50px;
    width: 100%;
  }
  .footer-telephone-icon-div {
    padding-left: 0;
    padding-bottom: 5px;
  }
  .footer-email-icon-div {
    padding-bottom: 12px;
    padding-left: 0;
  }
  .footer-telephone-div-part {
    margin-bottom: -5px;
  }
  .footer-text-icon-div {
    padding-bottom: 0;
    height: 38px;
  }
  .footer-icon-part {
    width: 70%;
    margin-bottom: 0;
  }
  .footer-email-div {
    padding-right: 10px;
  }
  .footer-telephone-number-div {
    padding-right: 10px;
  }
  .footer-copyright-text {
    font-size: 10px;
    line-height: 10.14px;
  }
  .footer-copyright {
    padding-top: 60px;
  }
}
